# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# compiled output
dist
tmp
out-tsc
*.tsbuildinfo
.expo
.expo-shared

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

# Replit
.cache/
.local/
# Arquivos de modelos de IA (evita estourar o limite de tamanho do GitHub)
*.gguf
*.bin
*.onnx

# Ambientes Virtuais Python
venv/
.venv/
env/

# Cache do Python e Streamlit
__pycache__/
*.pyc
# Ignorar arquivos grandes e executáveis de modelos
models/
*.llamafile
*.gguf
*.bin
*.exe
/.local
